
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4b4453 ;
    font-family: 'Montserrat' , sans-serif;
}

body {
    background: #4b4453;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b4453 ;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}

.social img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.social h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #c34a36;
}
.social a {
    background-color: #c34a36;
    color: #4b4453;
    accent-color: #c34a36;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid;
    text-decoration: none;
}